{% extends "manage.html" %}
{% block title %}
    <title>接口管理</title>
{% endblock %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">接口管理</h5>
        <a href="{% url 'add_apicase' %}" type="button" class="btn btn-primary" style="float:right">创建</a>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer"
                    role="grid" aria-describedby="datatables-dashboard-traffic_info">
                    <thead>
                        <tr role="row">
                            <th>所属模块</th>
                            <th>接口地址</th>
                            <th>接口头部</th>
                            <th>请求方法</th>
                            <th>请求数据</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if api_list %}
                        {% for a in api_list %}
                        <tr role="row" class="odd">
                            <td>{{ a.module }}</td>
                            <td>{{ a.url }}</td>
                            <td>{{ a.header }}</td>
                            <td>{{ a.req_type }}</td>
                            <td>{{ a.req_body }}</td>
                            <td>
                              <a href="{% url "app_api:edit_api" a.id %}"><button class="btn btn-primary">修改</button></a>
                              <button onclick="del({{ a.id }})" type="button" class="btn btn-secondary">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr align="center">
                            <th colspan="6" >暂无数据</th>
                        </tr>
                    {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<!-- 翻页功能 -->
    <div style="float: right">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          <div id="number-data" style="margin: 10px;margin-right: 30px;">
                共 {{ api_list.paginator.num_pages }} 页，{{ api_list.paginator.count }} 条数据
          </div>
            {% if api_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ api_list.previous_page_number }}">上一页</a>
                </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ api_list.number }}">{{ api_list.number }}</a>
                </li>
            {% if api_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ api_list.next_page_number }}">下一页</a>
                </li>
            {% endif %}
          </ul>

        </nav>
    </div>

<script type="text/javascript">

</script>
{% endblock %}