{% extends 'manage.html' %}
{% block title %}
    <title>编辑模块</title>
    <style type="text/css">
        #editMdForm {
            margin-left: 20px;
            margin-right: 20px;
            width: 80%
        }
        #editMdButton{
            float: right;
            margin-right: -275px
        }
        select[name="project"]{
            display: block;
            width: 122%;
            height: 45px;
            padding: 0.75rem 1rem;
            line-height: 1.7;
            border: 1px solid #e3e6f0;
            border-radius: 0.25rem;
            transition: all 0.2s ease-in-out
        }
    </style>
{% endblock %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">编辑模块</h5>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="editMdForm">
                    <form action="{% url 'edit_module' mid %}" method="post">
                        <div>
                            <labe>项目名称：</labe><br/>
                            {{ forms.project }}
                        </div>
                        <div>
                            <labe>模块名称：</labe><br/>
                            {{ forms.name }}
                        </div>
                        <div>
                            <label>描述：</label><br/>
                            {{ forms.describe }}
                        </div>
                        <div>
                            <label>状态：</label>
                            {{ forms.status }}
                        </div>
                        {% csrf_token %}
                        <br>
                        {{ errors }}
                        <input type="submit" id="editMdButton" class="btn btn-primary" value="更新">
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}